
<page-navbar></page-navbar>
<ion-content padding>
    
    <ion-slides pager=true>
            <ion-slide  *ngFor="let type of types">
                <ion-scroll class="vh70" scrollY="true">
                    <h1 class="itemtype">{{type}}</h1>
                    <hr class="myHr">
                    <ion-list>
                            <ion-item-group menuClose >
                
                                <div *ngFor="let item of items">
                                    <ion-item class="restItems" *ngIf="presentInOrder(item) && sameType(type,item)">
                                            <ion-grid>
                                                <ion-row>
                                                    <ion-col col-6 text-wrap class="itemNames">
                                                        {{item.name}}
                                                    </ion-col>
                                                    <ion-col col-6 >
                                                        <div *ngFor="let Oitem of order_items">
                                                                <div *ngIf="getQuantity(item, Oitem)">
                                                                    <ion-grid>
                                                                            <ion-row>
                                                                                    <ion-col col-4>
                                                                                            <button class="addBtn" ion-button (click)="increaseQuanO(Oitem)">+</button>
                                                                                    </ion-col>
                                                                                    <ion-col col-2 text-center>
                                                                                            {{Oitem.quantity}}
                                                                                    </ion-col>
                                                                                    <ion-col col-4>
                                                                                            <button class="delBtn" ion-button (click)="decreaseQuanO(Oitem)">-</button>
                                                                                    </ion-col>
                                                                                </ion-row>
                    
                                                                    </ion-grid>
                                                                </div>
                                                            </div>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-item>
                        
                                        <ion-item  class="restItems" *ngIf="!presentInOrder(item) && sameType(type,item)">
                                            <ion-grid>
                                                <ion-row>
                                                    <ion-col col-6 text-wrap class="itemNames">
                                                        {{item.name}}
                                                    </ion-col>
                                                    <ion-col col-6>
                                                        <ion-grid>
                                                            <ion-row>
                                                                <ion-col col-4 >                    
                                                                    <button ion-button class="addBtn" (click)="increaseQuan(item)">+</button>
                                                                </ion-col>
                                                                <ion-col col-2 text-center>
                                                                        {{item.quantity}}
                                                                </ion-col>
                                                                <ion-col col-4 >
                                                                    <button ion-button class="delBtn" (click)="decreaseQuan(item)">-</button>
                                                                </ion-col>
                                                                                
                                                            </ion-row>
                                                        </ion-grid>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-item>
                                </div>
                
                            </ion-item-group>
                    </ion-list>
                </ion-scroll>                                
            </ion-slide>
        </ion-slides>


    <!-- <ion-list>
        <ion-item-group menuClose >

            <div *ngFor="let item of items">
                    <ion-item *ngIf="presentInOrder(item)">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        {{item.name}}
                                    </ion-col>
                                    <ion-col col-offset-4>
                                        <div *ngFor="let Oitem of order_items">
                                                <div *ngIf="getQuantity(item, Oitem)">
                                                    <button ion-button (click)="increaseQuanO(Oitem)">+</button>
                                                        {{Oitem.quantity}}
                                                    <button ion-button (click)="decreaseQuanO(Oitem)">-</button>
                                                </div>
                                            </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
        
                        <ion-item *ngIf="!presentInOrder(item)">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        {{item.name}}
                                    </ion-col>
                                    <ion-col col-offset-4>                    
                                        <button ion-button (click)="increaseQuan(item)">+</button>
                                            {{item.quantity}}
                                        <button ion-button (click)="decreaseQuan(item)">-</button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
        
            </div>

        </ion-item-group>
    </ion-list> -->

</ion-content>
