page-home {

}
#cart{
    font-size: 30px;
}
.imageBtn{
	margin-top: 15%;
	height: 40%;
}
.labelImg{
	position: relative;
    bottom: 120px;
    text-align: center;
    font-size: 200%;
    color: white;
    font-weight: 900;

}
img{
	width: 100%;
}