page-home {
 .bannerImg{
    width:100%; 
    height:100%;

     img{
        width:100%; 
        height:100%;    
     }
 }
 .greenTxt{
     color: rgb(11, 185, 20);
 }
 .upperCase{
     text-transform: uppercase;
 }
}
#cart{
    font-size: 30px;
}
.imageBtn{
	margin-top: 15%;
	height: 30%;
}
.labelImg{
	position: relative;
    bottom: 120px;
    text-align: center;
    font-size: 200%;
    color: white;
    font-weight: 900;
    height: 100%;

}
img{
	width: 100%;
}